.app-bar {
    display: flex !important;
    flex-direction: row !important;
}

.app-title {
    flex-grow: 1;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    line-height: inherit !important;
}

.header-logo {
    height: 100%;
}

.app-bar > * {
    min-height: 100% !important;
    height: 100% !important;
}
